.__overlay-root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999999999;

  pointer-events: none;
}

.__overlay-panel {
  position: absolute;
  top: 20px;
  right: 20px;

  background: white;
  color: black;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);

  pointer-events: auto;
}
